.footer{
    background-color: white;
}
.btn-arrow{
    background-color: #d7d7d7;
    border: 2px solid white;
    outline: 1px solid gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 4px black;
    margin-top: -30px;
}